$base-spacing-unit: 24px;
$half-spacing-unit: $base-spacing-unit / 2;

// $color-alpha: #1772ff;
$color-form-highlight: #dee2e6;

body {
  padding: 24px;
  margin: 0;
}

.table-header {
  display: flex;
  width: 100%;
  background: white;
  padding: ($half-spacing-unit * 1.5) 0;
}

.filter__link {
  font: 16px;
  color: #b8b9b9;
}

.table-row {
  display: flex;
  width: 100%;
  padding: ($half-spacing-unit * 1.5) 0;

  &:nth-of-type(odd) {
    background: $color-form-highlight;
  }
}

.table-data,
.header__item {
  flex: 1 1 20%;
  text-align: center;
}
