/*! CSS Used from: https://www.w3schools.com/lib/w3schools30.css */
*,
*:before,
*:after {
  box-sizing: inherit;
}
:disabled * {
  pointer-events: none;
}
.ws-table-all tr {
  border-bottom: 1px solid #ddd;
}
.ws-table-all tr:nth-child(odd) {
  background-color: #fff;
}
.ws-table-all tr:nth-child(even) {
  background-color: #e7e9eb;
}
.ws-table-all td,
.ws-table-all th {
  padding: 8px 8px;
  display: table-cell;
  text-align: left;
  vertical-align: top;
}
.ws-table-all th:first-child,
.ws-table-all td:first-child {
  padding-left: 16px;
}
/*! CSS Used from: Embedded */
#customers td,
#customers th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
